body {
    background-color: rgb(238, 223, 203);
    margin: 0;
}

/* Targeting a class- is css every element with the class of header will receiver these headers*/
.header {
    background-color: bisque
}

 .header-Link{
     padding: 14px 16px; 
     text-decoration: none;
     color: darkblue
    }

#homeLink {
    float: left;
}

#aboutLink {
    float: right;
    
}